# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Runtime files
*.pid
*.seed
*.pid.lock

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Test coverage
coverage/

# Temporary files
*.tmp
*.temp

# Others
*.swp
*.bak
*.orig
